# Static files to ignore
/static/react
/static/DATASETS
/static/DENOISERS
/static/TRAINING_SESSIONS
/static/LEARNING_STRATEGIES
/static/TEMP

# Database files
*.db

# Database migrations
/migrations

# Archives
*.zip